.commentBody {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
}

.commentBody + .commentBody {
	margin-top: 1.625rem;
}

/* .commentBody > img {
	border-radius: 8px;
	width: 3.125rem;
	height: 3.125rem;
} */

.commentMain {
	flex: 1;
}

.comment {
	background-color: var(--gray-700);
	border-radius: 9px;
	height: 7.5rem;
	color: var(--white);
	padding: 1rem;
	resize: none;
}

.header {
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
    
	
}

.authorAndTime {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.authorAndTime > strong {
	font-size: 0.875rem;
	line-height: 1.6;
	color: var(--gray-100);
}

.authorAndTime > time {
	font-size: 0.75rem;
	line-height: 1.6;
	color: var(--gray-400);
}

.comment > p {
	color: var(--gray-200);
}

.trashButton {
	background: transparent;
	border:0;
    line-height: 0  ;
    color: var(--gray-400);
	cursor: pointer;
}


.trashButton:hover{
    color: var(--red-500);
}

footer {
	margin-top: 1.125rem;
}


.commentBody footer > button {
	cursor: pointer;
	background: transparent;
	border: 0;
    color: var(--gray-400);

    display: flex;
    align-items: center;
  
    font-weight: bold;
    border-radius: 2px;
}
 

.commentBody footer > button:hover {
    color: var(--green-400);
}




.ThumbsUp {
	height: 1.25rem;
	width: 1.25rem;
    margin-right: 0.625rem;
} 

 .commentBody footer > button > span::before {
    content: "\2022";
    padding: 0 0.25rem;

}  


